.vscode/
.classpath
.project
.classpath
.recommenders/
*.orig
.metadata/
.settings/
WebContent/
node_modules/
package-lock.json
siuce/.sonar/
siuce/sonar-project.properties
target/
*.sonar*
*.class
*/target/
.idea
.scannerwork/

appsettings.json